<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BarberWeb{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
<header class="topbar">
    <div class="topbar-left">
        <div class="logo">BarberWeb</div>
    </div>
</header>

<main class="page">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>
